{{- $provider := lower (trim (printf "%v" (.provider | default "")) " \r\n\t") -}}
{{- $logicalPath := trim (printf "%v" (.logical_path | default "")) " \r\n\t" -}}
{{- if and (ne $logicalPath "") (not (hasPrefix $logicalPath "/")) -}}
  {{- $logicalPath = printf "/%s" $logicalPath -}}
{{- end -}}
{{- if and (ne $logicalPath "") (not (hasSuffix $logicalPath "/")) -}}
  {{- $logicalPath = printf "%s/" $logicalPath -}}
{{- end -}}
{{- $sortVariant := "" -}}
{{- $defaultSort := "" -}}
{{- if eq $provider "all" -}}
  {{- $sortVariant = "all" -}}
  {{- $defaultSort = "date-desc" -}}
{{- else if eq $provider "products" -}}
  {{- $sortVariant = "products" -}}
  {{- $defaultSort = "name-asc" -}}
{{- else if eq $provider "section-d" -}}
  {{- $sortVariant = "section" -}}
  {{- $defaultSort = "date-desc" -}}
{{- else if eq $provider "taxonomy" -}}
  {{- $sortVariant = "tree" -}}
  {{- $defaultSort = "date-desc" -}}
{{- end -}}
{{- $result := dict -}}
{{- if ne $logicalPath "" -}}
  {{- $result = merge $result (dict "logical_path" $logicalPath) -}}
{{- end -}}
{{- if ne $provider "" -}}
  {{- $result = merge $result (dict "provider" $provider) -}}
{{- end -}}
{{- if ne $sortVariant "" -}}
  {{- $result = merge $result (dict "sort_variant" $sortVariant "default_sort" $defaultSort) -}}
{{- end -}}
{{- return $result -}}
