{{- $source := .source -}}
{{- $page := index $source "page" -}}
{{- $spec := partial "taxonomy/spec-get.html" (dict "ctx" $page "plural" $page.Data.Plural) -}}
{{- $items := slice -}}
{{- range $entry := partial "taxonomy/direct-children.html" (dict "ctx" $page "spec" $spec) -}}
  {{- if eq .kind "cat" -}}
    {{- $items = $items | append (dict
      "key" .term_key
      "text" (or .display .title)
      "href" .url
      "type" "d"
    ) -}}
  {{- else -}}
    {{- $items = $items | append (dict
      "key" .entry_key
      "text" .title
      "href" .url
      "type" "p"
    ) -}}
  {{- end -}}
{{- end -}}
{{- return $items -}}
