.site-nav-utilities .icon-select-wrapper > .icon,
.site-nav-utilities .site-nav-link-account > .icon {
    display: block;
    width: 1em;
    height: 1em;
    flex: none;
    transform-origin: center center;
}

.site-nav-utilities .icon-select-wrapper select.icon-select {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.site-nav-utilities .icon-select-wrapper:has(select.icon-select:focus-visible) {
    outline: 2px dashed var(--focus);
    outline-offset: 2px;
}

.site-nav-utilities .icon-select-wrapper select.icon-select:focus {
    outline: none;
}
