{{- $ctx := .ctx -}}
{{- $source := .source | default dict -}}
{{- $logicalPath := printf "%v" (index $source "logical_path" | default "") -}}
{{- $defaultSort := printf "%v" (index $source "default_sort" | default "") -}}
{{- $currentSort := printf "%v" (.current_sort | default $defaultSort) -}}
{{- $parts := split $currentSort "-" -}}
{{- $field := index $parts 0 | default "" -}}
{{- $order := index $parts 1 | default "desc" -}}
{{- $nextOrder := cond (eq $order "asc") "desc" "asc" -}}
{{- $nextSort := printf "%s-%s" $field $nextOrder -}}
{{- $fromValue := partial "routing/lineage-value.html" (dict "logical_path" $logicalPath) -}}
{{- $fromParam := partialCached "routing/param-name.html" (dict "semantic" "entry_lineage") "routing-param:entry_lineage" -}}
{{- $sortsParam := partialCached "routing/param-name.html" (dict "semantic" "lineage_sorts") "routing-param:lineage_sorts" -}}
{{- $segments := split (trim $logicalPath "/") "/" -}}
{{- $sortSlots := slice -}}
{{- range $index, $_ := $segments -}}
  {{- $sortSlots = $sortSlots | append (cond (eq $index (sub (len $segments) 1)) $nextSort $defaultSort) -}}
{{- end -}}
{{- return (printf "%s?%s=%s&%s=%s"
  $ctx.RelPermalink
  $fromParam
  $fromValue
  $sortsParam
  (delimit $sortSlots ",")
) -}}
