{{- $speculationMode := lower (printf "%v" .speculation_mode) -}}
{{- $runtimeCoordination := lower (printf "%v" .runtime_coordination) -}}
{{- $speculationConfig := .speculation_config | default dict -}}
{{- $runtimeEnvConfigMap := .runtime_env_config_map | default dict -}}
{{- $specSlotSet := dict -}}
{{- $specOwnedSlots := slice -}}
{{- $overlapWarnings := slice -}}
{{- $runtimeMeta := dict -}}

{{- if eq $speculationMode "header" -}}
  {{- $targets := partial "prefetch/targets.html" . -}}
  {{- range $target := $targets -}}
    {{- $configKey := index $target "config_key" -}}
    {{- $slot := index $target "slot" -}}
    {{- $specMode := partial "prefetch/speculation/mode.html" (index $speculationConfig $configKey) -}}
    {{- if ne (index $specMode "kind") "" -}}
      {{- if not (isset $specSlotSet $slot) -}}
        {{- $specSlotSet = merge $specSlotSet (dict $slot true) -}}
        {{- $specOwnedSlots = $specOwnedSlots | append $slot -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if gt (len $specOwnedSlots) 0 -}}
    {{- $runtimeMeta = dict
      "coordination_mode" $runtimeCoordination
      "owned_slots" $specOwnedSlots
    -}}
  {{- end -}}

  {{- if and (eq $runtimeCoordination "independent") (gt (len $specSlotSet) 0) -}}
    {{- range $envKey := (slice "TT" "TF" "FT" "FF") -}}
      {{- $envConfig := index $runtimeEnvConfigMap $envKey | default dict -}}
      {{- $overlapSlots := slice -}}
      {{- range $target := $targets -}}
        {{- $configKey := index $target "config_key" -}}
        {{- $slot := index $target "slot" -}}
        {{- $runtimeMode := partial "prefetch/runtime/mode.html" (index $envConfig $configKey) -}}
        {{- if and (isset $specSlotSet $slot) (eq (index $runtimeMode "kind") "prefetch") -}}
          {{- $overlapSlots = $overlapSlots | append $slot -}}
        {{- end -}}
      {{- end -}}
      {{- if gt (len $overlapSlots) 0 -}}
        {{- $overlapWarnings = $overlapWarnings | append (printf "%s=[%s]" $envKey (delimit $overlapSlots ", ")) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return (dict
  "overlap_warnings" $overlapWarnings
  "runtime_meta" $runtimeMeta
) -}}
