{{ define "styles" }}
{{ partial "asset/head-styles.html" (dict "ctx" . "variant" "name") }}
{{ end }}
{{ define "head-extra" }}
{{ partial "content/styles.html" (dict "ctx" .) }}
{{ end }}

{{ define "main" }}
<article class="article" data-retire-return-param>
  <div class="collection-list collection-list--index">
    {{- $items := slice -}}
    {{- range slice "auto" "light" "dark" -}}
      {{- $items = $items | append (dict
        "control" "button" "text" (i18n (printf "appearance_%s" .)) "icon" (printf "appearance-%s" .)
        "dataAttrs" (dict "theme-choice" .)
      ) -}}
    {{- end -}}
    {{ partial "choice/render.html" (dict "page" . "title" .Title "items" $items) }}
    {{ partial "navigation/back-link.html" . }}
  </div>
</article>
{{ end }}
