{{ define "styles" }}
{{ partial "asset/head-styles.html" (dict "ctx" . "variant" "name") }}
{{ end }}
{{ define "head-extra" }}
{{ partial "content/styles.html" (dict "ctx" .) }}
{{ end }}

{{ define "main" }}
<article class="article" data-retire-return-param>
  <div class="collection-list collection-list--index" data-language-settings>
    {{- $items := slice -}}
    {{- range partial "preferences/language-choice-options.html" . -}}
      {{- $items = $items | append (dict
        "control" "link" "href" .href "title" .name "text" .name
        "icon" .icon "isCurrent" (eq .code $.Language.Lang)
        "prefetchSlot" "nav" "dataAttrs" (dict "language-choice" .code "has-trans" (printf "%v" .translated))
      ) -}}
    {{- end -}}
    {{ partial "choice/render.html" (dict "page" . "title" .Title "items" $items) }}
    {{ partial "navigation/back-link.html" . }}
  </div>
</article>
{{ end }}
