.site-nav {
    display: flex;
    margin: 1rem 0 2rem calc(-1 * var(--page-edge-inline) - 1px);
    font-weight: bold;
}



.site-nav-tools {
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-left: 0.8rem;
}


.site-nav-link-primary {
    padding: 0.36rem 0.58rem;
    border-radius: 3px;
    text-decoration: none;
    color: var(--focus);
}

.site-nav-link-primary:visited {
    color: var(--focus);
}

.site-nav-link-primary:hover {
    background: color-mix(in srgb, var(--focus) 7%, var(--bg));
}

.site-nav-link-primary.is-current {
    background: color-mix(in srgb, var(--focus) 12%, var(--bg));
}



.site-nav .nav-tool {
    position: relative;
    /* top: 1px; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.42rem;
    height: 1.42rem;
    color: var(--focus);
}



.site-nav .icon-select-wrapper select.icon-select {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.site-nav .icon-select-wrapper:has(select.icon-select:focus-visible) {
    outline: 2px dashed var(--focus);
    outline-offset: 2px;
}

