{{- $pages := .pages | default (slice) -}}
{{- $seen := dict -}}
{{- $uniq := slice -}}
{{- range $pages -}}
  {{- $key := .RelPermalink -}}
  {{- if not (isset $seen $key) -}}
    {{- $seen = merge $seen (dict $key true) -}}
    {{- $uniq = $uniq | append . -}}
  {{- end -}}
{{- end -}}
{{- $cnt := len $uniq -}}
{{- $latestStr := "" -}}
{{- $latestKey := "" -}}
{{- if gt $cnt 0 -}}
  {{- $latest := index (sort $uniq "Lastmod" "desc") 0 -}}
  {{- $d := $latest.Lastmod -}}
  {{- if eq ($d.Format "2006") "0001" -}}{{- $d = $latest.Date -}}{{- end -}}
  {{- $latestStr = $d.Format "2006-01-02" -}}
  {{- $latestKey = $d.Format "20060102" -}}
{{- end -}}
{{- $result := dict "uniq" $uniq "cnt" $cnt "latest" $latestStr "latestKey" $latestKey -}}
{{- return $result -}}
