.prose :is(pre, .highlight) {
    margin: 0 0 12px 0;
}

.prose pre {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    color: var(--code-block-text);
    background: var(--code-block-bg);
    overscroll-behavior-x: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: var(--code-scrollbar-thumb) var(--code-scrollbar-track);
}

.prose pre code {
    display: inline-block;
    min-width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 14px;
    color: inherit;
}


.prose .chroma {
    color: var(--code-block-text);
    background-color: transparent;
    -webkit-text-size-adjust: none;
}

.prose .chroma .lnlinks {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.prose .chroma .lntd,
.prose .chroma .lntable {
    padding: 0;
    margin: 0;
    border: 0;
}

.prose .chroma .lntd {
    vertical-align: top;
}

.prose .chroma .lntable {
    border-spacing: 0;
}

.prose .chroma .line.hl {
    background-color: var(--code-line-highlight);
}

.prose .chroma :is(.lnt, .ln) {
    flex: none;
    white-space: pre;
    user-select: none;
    padding: 0 8px 0 0;
    color: var(--code-line-number);
}

.prose .chroma .line {
    display: flex;
    min-width: 100%;
}

.prose .chroma :is(.k, .kc, .kd, .kn, .kp, .kr, .ow, .cp, .cpf) {
    color: var(--code-token-keyword);
}

.prose .chroma :is(.kt, .nc) {
    color: var(--code-token-type);
}

.prose .chroma :is(.s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss) {
    color: var(--code-token-string);
}

.prose .chroma :is(.c, .ch, .cm, .c1, .cs) {
    color: var(--code-token-comment);
}

.prose .chroma :is(.gh, .gp, .gs, .gu) {
    font-weight: bold;
}

.prose .chroma .ge {
    font-style: italic;
}
