.prose strong {
    /* color: var(--focus); */
    padding: 0 2px;
}

.prose em {
    color: inherit;
    font-style: italic;
}

.prose :is(del, s) {
    color: #999;
    text-decoration: line-through var(--focus);
}

/* .prose mark {
    padding: 0 2px;
    color: #fff;
    background: var(--focus);
    border-radius: 2px;
} */

.prose a {
    color: var(--link);

    word-break: break-all;

}

.prose a:visited {
    color: var(--link-visited);
}

.prose code {
    padding: 0.065rem 0.33rem 0;
    font-size: 0.9em;
    font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
    color: var(--code-inline-text);
    background: var(--code-inline-bg);
    border: 1px solid var(--code-inline-border);
    border-radius: 3px;
}
