.prose :where(code, pre) {
    background: var(--border-subtle);
}

.prose code {
    padding: 0.065rem 0.33rem 0;
    font-size: 0.9em;
    font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
    color: #059669;
    background: rgba(7, 193, 96, 0.07);
    border: 1px solid rgba(7, 193, 96, 0.3);
    border-radius: 3px;
}

[data-theme="dark"] .prose code {
    color: #3ad67a;
    background: rgba(58, 214, 122, 0.07);
    border: 1px solid rgba(58, 214, 122, 0.3);
}

.prose pre {
    margin: 1rem 0 1rem 0;
    padding: 1em;
    overflow-x: auto;
    border-radius: 4px;
}

.prose pre code {
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 0.85em;
    color: inherit;
}
