.prose table {
    margin: 14px 0;
    width: auto;
    min-width: 100%;
    color: var(--table-text);
    border-collapse: collapse;
}

.prose th {
    background: var(--table-header-bg);
}

.prose :is(th, td) {
    padding: 4px 1px 4px 4px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
    color: var(--table-text);
    word-break: keep-all;
    border: 1px solid var(--table-border);
}

.prose tr:nth-child(even) {
    background: var(--table-striped-bg);
}
