.prose img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 18px 0 18px 0;
    padding: 0;
    border-radius: var(--img-border-radius);
}

.prose hr {
    margin: 18px 0 108px;
    border: 0;
    border-top: 1px solid var(--border-subtle);
}


