@view-transition {
    navigation: auto;
}

:root {
    --bg: #FFFFFF;
    --fg: #1B1B1B;
    --link: #1B1B1B;
    --link-visited: #5F5F5F;
    --border: #838383;
    --focus: #9E685F;
    /* --text-secondary:#5F5F5F;
    --bg-surface:#FAFAFA; */
}

[data-theme="dark"] {
    --bg: #191919;
    --fg: #EFEFEF;
    --link: #EFEFEF;
    --link-visited: #D0D0D0;
    --border: #CCCCCC;
    --focus: #AC7B73;
    /* --text-secondary:rgba(255,255,255,0.65);
    --bg-surface:#2A2A2A; */
}



html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    overscroll-behavior-x: none;
    background: var(--bg);
    color: var(--fg);
    transition: background 0.3s, color 0.3s;
}

.page {
    min-height: 100vh;
    width: max-content;
    min-width: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
    line-height: 1.7;
}

a {
    color: var(--link);
    text-decoration: underline;
    transition: color 0.3s;
}
a:hover {
    opacity: 0.8;
}
a:visited {
    color: var(--link-visited);
}

a:focus-visible {
    outline: 2px dashed var(--focus);
    outline-offset: 2px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    flex: none;
    vertical-align: -0.15em;
}
