.grid-products {
    grid-template-columns: var(--navigation-column-inline) minmax(4rem, max-content) minmax(10rem, max-content);
}

.grid-products > :is(.cell-title, .cell-price, .cell-value) {
    pointer-events: none;
}

.grid-products > :is(.cell-title, .cell-price, .cell-value) a {
    pointer-events: auto;
}

.grid-products > :is(.cell-price, .cell-value) {
    color: var(--link-visited);
}

.grid-products > .cell-price {
    justify-self: start;
    text-align: left;
}

.grid-products > .cell-price.header {
    justify-self: stretch;
}
