.home-footer-shortcuts {
    margin: -24px 4px 0;
}

.grid-list.grid-list-meta {
    grid-template-columns: minmax(0, 13rem);
    row-gap: 4px;
    font-size: 12px;
    color: var(--link-visited);
}

.grid-list.grid-list-meta .title-link {
    gap: 4px;
}

/* .grid-list.grid-list-meta .title-icon {
    color: var(--focus);
    font-size: 15px;
} */

.grid-list.grid-list-meta .icon {
    width: 1em;
    height: 1em;
    vertical-align: -3px;
}

.grid-list.grid-list-meta .title-icon-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    text-align: center;
    font-weight: bold;
    line-height: 1;
}

/* .grid-list.grid-list-meta::after {
    display: none;
} */

.grid-list.grid-list-meta {
    padding-top: 26px;
}

/* .grid-list.grid-list-meta::after {
    top: 0px;
} */
