.grid-all {
    grid-template-columns: 12rem minmax(5rem, max-content) minmax(4rem, max-content) minmax(8rem, max-content);
}

.grid-all > .cell-path {
    pointer-events: none;
}

.grid-all > .cell-path a {
    display: block;
    width: 100%;
    color: inherit;
    pointer-events: auto;
}

.grid-all > .cell-path a:visited {
    color: var(--link-visited);
}
