{{- $buildConfig := site.Params.build | default dict -}}
{{- $buildVersion := trim (printf "%v" (index $buildConfig "version" | default "")) " \r\n\t" -}}
{{- if ne $buildVersion "" -}}
  {{- $buildVersion -}}
  {{- return -}}
{{- end -}}

{{- $versionPrefix := trim (printf "%v" (index $buildConfig "version_prefix" | default "v")) " \r\n\t" -}}
{{- $timestampLayout := trim (printf "%v" (index $buildConfig "timestamp_layout" | default "20060102150405")) " \r\n\t" -}}
{{- if eq $timestampLayout "" -}}
  {{- $timestampLayout = "20060102150405" -}}
{{- end -}}

{{- printf "%s%s" $versionPrefix (now.Format $timestampLayout) -}}
