{{ $ctx := .ctx }}
{{ $mode := .mode | default "bydate" }}

{{ if and $ctx.IsPage (eq $ctx.Section "d") }}
  {{ $tagTerms := slice }}
  {{ with $ctx.Params.tags }}
    {{ $values := . }}
    {{ if not (reflect.IsSlice $values) }}{{ $values = slice $values }}{{ end }}
    {{ range $values }}
      {{ $tagTerms = $tagTerms | append (printf "%v" .) }}
    {{ end }}
  {{ end }}
  {{ $tagSeen := dict }}
  {{ range $term := $tagTerms }}
    {{ if not (isset $tagSeen $term) }}
      {{ $tagSeen = merge $tagSeen (dict $term true) }}
      {{ $contextUrl := printf "%s%s/" ("/tags/" | relLangURL) ($term | urlize) }}
      <template data-desktop-workspace-axis="tags" data-desktop-workspace-context="{{ $contextUrl }}">
        {{ partial "desktop-workspace-columns-region.html" (dict
          "ctx" $ctx
          "mode" $mode
          "axis" "tags"
          "pageKind" "leaf"
          "term" $term) }}
      </template>
    {{ end }}
  {{ end }}

  {{ $udcTerms := slice }}
  {{ with $ctx.Params.udc }}
    {{ $values := . }}
    {{ if not (reflect.IsSlice $values) }}{{ $values = slice $values }}{{ end }}
    {{ range $values }}
      {{ $udcTerms = $udcTerms | append (printf "%v" .) }}
    {{ end }}
  {{ end }}
  {{ $udcSeen := dict }}
  {{ range $term := $udcTerms }}
    {{ if not (isset $udcSeen $term) }}
      {{ $udcSeen = merge $udcSeen (dict $term true) }}
      {{ $contextUrl := printf "%s%s/" ("/udc/" | relLangURL) ($term | urlize) }}
      <template data-desktop-workspace-axis="udc" data-desktop-workspace-context="{{ $contextUrl }}">
        {{ partial "desktop-workspace-columns-region.html" (dict
          "ctx" $ctx
          "mode" $mode
          "axis" "udc"
          "pageKind" "leaf"
          "term" $term) }}
      </template>
    {{ end }}
  {{ end }}
{{ end }}
