{{ $ctx := . }}
{{ with .ctx }}{{ $ctx = . }}{{ end }}
{{ $variant := "" }}
{{ with .variant }}{{ $variant = . }}{{ end }}
{{ $flags := partial "page-style-flags.html" (dict "ctx" $ctx) }}
{{ $coreA11y := resources.Get "css/core-a11y.css" }}
{{ $coreBase := resources.Get "css/core-base.css" }}
{{ $coreMotion := resources.Get "css/core-motion.css" }}
{{ $gridAll := resources.Get "css/grid-all.css" }}
{{ $gridHomeFooter := resources.Get "css/grid-home-footer.css" }}
{{ $gridList := resources.Get "css/grid-list.css" }}
{{ $gridProducts := resources.Get "css/grid-products.css" }}
{{ $navBreadcrumb := resources.Get "css/nav-breadcrumb.css" }}
{{ $navPrimary := resources.Get "css/nav-primary.css" }}
{{ $siteHeader := resources.Get "css/site-header.css" }}
{{ $swUpdateAnchor := resources.Get "css/sw-update-anchor.css" }}
{{ $swModeRaw := $ctx.Site.Params.service_worker.mode | default "off" }}
{{ $swMode := lower (printf "%v" $swModeRaw) }}
{{ $pageBundleParts := slice $coreBase $siteHeader $navPrimary $coreA11y $coreMotion }}
{{ $pageBundle := $pageBundleParts | resources.Concat "css/bundle-page.css" }}
{{ $pageBundle = partial "css-process.html" (dict "resource" $pageBundle "fingerprint" true) }}
{{ $pageCrumbBundleParts := $pageBundleParts | append $navBreadcrumb }}
{{ if eq $swMode "enable" }}{{ $pageCrumbBundleParts = $pageCrumbBundleParts | append $swUpdateAnchor }}{{ end }}
{{ $pageCrumbBundle := $pageCrumbBundleParts | resources.Concat "css/bundle-page-crumb.css" }}
{{ $pageCrumbBundle = partial "css-process.html" (dict "resource" $pageCrumbBundle "fingerprint" true) }}
{{ $listBundleParts := $pageCrumbBundleParts | append $gridList }}
{{ $listBundle := $listBundleParts | resources.Concat "css/bundle-list.css" }}
{{ $listBundle = partial "css-process.html" (dict "resource" $listBundle "fingerprint" true) }}
{{ $homeListBundleParts := $listBundleParts | append $gridHomeFooter }}
{{ $homeListBundle := $homeListBundleParts | resources.Concat "css/bundle-home-list.css" }}
{{ $homeListBundle = partial "css-process.html" (dict "resource" $homeListBundle "fingerprint" true) }}
{{ $productsBundleParts := $listBundleParts | append $gridProducts }}
{{ $productsBundle := $productsBundleParts | resources.Concat "css/bundle-products.css" }}
{{ $productsBundle = partial "css-process.html" (dict "resource" $productsBundle "fingerprint" true) }}
{{ $allBundleParts := $listBundleParts | append $gridAll }}
{{ $allBundle := $allBundleParts | resources.Concat "css/bundle-all.css" }}
{{ $allBundle = partial "css-process.html" (dict "resource" $allBundle "fingerprint" true) }}
{{ $homeCritical := slice $coreBase $siteHeader $navPrimary $navBreadcrumb $coreA11y $gridList $gridHomeFooter | resources.Concat "css/home-critical.css" }}
{{ $homeCritical = partial "css-process.html" (dict "resource" $homeCritical) }}
{{ $homeAddonParts := slice $coreMotion }}
{{ if eq $swMode "enable" }}{{ $homeAddonParts = $homeAddonParts | append $swUpdateAnchor }}{{ end }}
{{ $homeAddon := $homeAddonParts | resources.Concat "css/home-addon.css" }}
{{ $homeAddon = partial "css-process.html" (dict "resource" $homeAddon "fingerprint" true) }}
{{ $resolvedVariant := $variant }}
{{ if not $resolvedVariant }}
{{ $resolvedVariant = index $flags "defaultVariant" }}
{{ end }}
{{ if eq $resolvedVariant "home" }}
<style>{{ $homeCritical.Content | safeCSS }}</style>
<link rel="preload" href="{{ $homeAddon.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ $homeAddon.RelPermalink }}"></noscript>
{{ else if eq $resolvedVariant "home-list" }}
<link rel="stylesheet" href="{{ $homeListBundle.RelPermalink }}">
{{ else if eq $resolvedVariant "all" }}
<link rel="stylesheet" href="{{ $allBundle.RelPermalink }}">
{{ else if eq $resolvedVariant "products" }}
<link rel="stylesheet" href="{{ $productsBundle.RelPermalink }}">
{{ else if eq $resolvedVariant "list" }}
<link rel="stylesheet" href="{{ $listBundle.RelPermalink }}">
{{ else if eq $resolvedVariant "page" }}
<link rel="stylesheet" href="{{ $pageBundle.RelPermalink }}">
{{ else }}
<link rel="stylesheet" href="{{ $pageCrumbBundle.RelPermalink }}">
{{ end }}
