{{ $ctx := . }}
{{ with .ctx }}{{ $ctx = . }}{{ end }}
{{ $variant := "" }}
{{ with .variant }}{{ $variant = . }}{{ end }}
{{ $flags := partial "page-style-flags.html" (dict "ctx" $ctx) }}
{{ $coreA11y := resources.Get "css/core-a11y.css" }}
{{ $coreBase := resources.Get "css/core-base.css" }}
{{ $coreMotion := resources.Get "css/core-motion.css" }}
{{ $collectionList := resources.Get "css/collection-list.css" }}
{{ $gridAll := resources.Get "css/grid-all.css" }}
{{ $gridBase := resources.Get "css/grid-base.css" }}
{{ $gridDirectory := resources.Get "css/grid-directory.css" }}
{{ $gridProducts := resources.Get "css/grid-products.css" }}
{{ $navBreadcrumb := resources.Get "css/nav-breadcrumb.css" }}
{{ $siteHeader := resources.Get "css/site-header.css" }}
{{ $rootNavigation := resources.Get "css/root-navigation.css" }}
{{ $pageBundleParts := slice $coreBase $siteHeader }}
{{ $pageBundleParts = $pageBundleParts | append $collectionList $gridBase $rootNavigation }}
{{ $pageBundleParts = $pageBundleParts | append $coreA11y }}
{{ $pageBundleParts = $pageBundleParts | append $coreMotion }}
{{ $pageBundle := $pageBundleParts | resources.Concat "css/bundle-page.css" }}
{{ $pageBundle = partial "css-process.html" (dict "resource" $pageBundle "fingerprint" true) }}
{{ $pageCrumbBundleParts := $pageBundleParts }}
{{ $pageCrumbBundleParts = $pageCrumbBundleParts | append $navBreadcrumb }}
{{ $pageCrumbBundle := $pageCrumbBundleParts | resources.Concat "css/bundle-page-crumb.css" }}
{{ $pageCrumbBundle = partial "css-process.html" (dict "resource" $pageCrumbBundle "fingerprint" true) }}
{{ $directoryBundleParts := $pageCrumbBundleParts | append $gridDirectory }}
{{ $directoryBundle := $directoryBundleParts | resources.Concat "css/bundle-directory.css" }}
{{ $directoryBundle = partial "css-process.html" (dict "resource" $directoryBundle "fingerprint" true) }}
{{ $productsBundleParts := $pageCrumbBundleParts | append $gridProducts }}
{{ $productsBundle := $productsBundleParts | resources.Concat "css/bundle-products.css" }}
{{ $productsBundle = partial "css-process.html" (dict "resource" $productsBundle "fingerprint" true) }}
{{ $allBundleParts := $pageCrumbBundleParts | append $gridAll }}
{{ $allBundle := $allBundleParts | resources.Concat "css/bundle-all.css" }}
{{ $allBundle = partial "css-process.html" (dict "resource" $allBundle "fingerprint" true) }}
{{ $resolvedVariant := $variant }}
{{ if not $resolvedVariant }}
{{ $resolvedVariant = index $flags "defaultVariant" }}
{{ end }}
{{ if eq $resolvedVariant "all" }}
<link rel="stylesheet" href="{{ $allBundle.RelPermalink }}">
{{ else if eq $resolvedVariant "products" }}
<link rel="stylesheet" href="{{ $productsBundle.RelPermalink }}">
{{ else if eq $resolvedVariant "directory" }}
<link rel="stylesheet" href="{{ $directoryBundle.RelPermalink }}">
{{ else if eq $resolvedVariant "page" }}
<link rel="stylesheet" href="{{ $pageBundle.RelPermalink }}">
{{ else }}
<link rel="stylesheet" href="{{ $pageCrumbBundle.RelPermalink }}">
{{ end }}
