{{ $ctx := .ctx }}
{{ $entries := slice }}
{{ $homeHref := $ctx.Site.Home.RelPermalink }}
{{ $aboutHref := $homeHref }}
{{ with $ctx.Site.GetPage "/about" }}
  {{ $aboutHref = .RelPermalink }}
{{ end }}
{{ $aboutLabel := i18n "menu_about" | default "About" }}

{{ with site.Params.copyright }}
  {{ $entries = $entries | append (dict
    "title" (printf "%s %s" (now.Format "2006") ((printf "%v" .) | htmlUnescape))
    "href" $homeHref
    "iconText" "©"
    "dateKey" "20260323030000"
    "cnt" 3) }}
{{ end }}
{{ with site.Params.icp }}
  {{ $icpValue := printf "%v" . }}
  {{ $entries = $entries | append (dict
    "title" (replaceRE "^." "" $icpValue)
    "href" "https://beian.miit.gov.cn/"
    "iconText" (substr $icpValue 0 1)
    "target" "_blank"
    "rel" "noopener noreferrer"
    "dateKey" "20260323020000"
    "cnt" 2) }}
{{ end }}
{{ with site.Params.social.github }}
  {{ $entries = $entries | append (dict
    "title" "github"
    "href" .
    "icon" "github"
    "target" "_blank"
    "rel" "noopener noreferrer"
    "dateKey" "20260323010000"
    "cnt" 1) }}
{{ end }}
{{ $entries = $entries | append (dict
  "title" $aboutLabel
  "href" $aboutHref
  "iconText" "i"
  "dateKey" "00000000000000"
  "cnt" 0
  "isAbout" true) }}
{{ return $entries }}
