{{ $ctx := .ctx }}
{{ $entries := slice }}

{{ range partial "site-nav-registry.html" (dict "ctx" $ctx) }}
  {{ if ne .slot "footer" }}{{ continue }}{{ end }}
  {{ $entries = $entries | append (dict
    "title" .title
    "href" .href
    "icon" "file"
    "dateKey" (printf "20260323%02d0000" (sub 100 .weight))
    "cnt" .weight) }}
{{ end }}

{{ with site.Params.copyright }}
  {{ $entries = $entries | append (dict
    "title" (printf "%s %s" (now.Format "2006") ((printf "%v" .) | htmlUnescape))
    "href" $ctx.Site.Home.RelPermalink
    "iconText" "©"
    "dateKey" "20260323030000"
    "cnt" 3) }}
{{ end }}
{{ with site.Params.icp }}
  {{ $icpValue := printf "%v" . }}
  {{ $entries = $entries | append (dict
    "title" (replaceRE "^." "" $icpValue)
    "href" "https://beian.miit.gov.cn/"
    "iconText" (substr $icpValue 0 1)
    "target" "_blank"
    "rel" "noopener noreferrer"
    "dateKey" "20260323020000"
    "cnt" 2) }}
{{ end }}
{{ with site.Params.social.github }}
  {{ $entries = $entries | append (dict
    "title" "github"
    "href" .
    "icon" "github"
    "target" "_blank"
    "rel" "noopener noreferrer"
    "dateKey" "20260323010000"
    "cnt" 1) }}
{{ end }}
{{ return $entries }}
