{{ $ctx := .ctx }}
{{ $entries := slice }}
{{ $homeHref := $ctx.Site.Home.RelPermalink }}
{{ $aboutHref := $homeHref }}
{{ with $ctx.Site.GetPage "/about" }}
  {{ $aboutHref = .RelPermalink }}
{{ end }}
{{ $aboutLabel := i18n "menu_about" | default "About" }}

{{ with site.Params.copyright }}
  {{ $entries = $entries | append (dict
    "title" (printf "%s %s" (now.Format "2006") ((printf "%v" .) | htmlUnescape))
    "href" $homeHref
    "iconText" "©") }}
{{ end }}
{{ with site.Params.icp }}
  {{ $icpValue := printf "%v" . }}
  {{ $entries = $entries | append (dict
    "title" (replaceRE "^." "" $icpValue)
    "href" "https://beian.miit.gov.cn/"
    "iconText" (substr $icpValue 0 1)
    "target" "_blank"
    "rel" "noopener noreferrer") }}
{{ end }}
{{ with site.Params.social.github }}
  {{ $entries = $entries | append (dict
    "title" "github"
    "href" .
    "icon" "github"
    "target" "_blank"
    "rel" "noopener noreferrer") }}
{{ end }}
{{ $entries = $entries | append (dict
  "title" $aboutLabel
  "href" $aboutHref
  "iconText" "i") }}

{{ if gt (len $entries) 0 }}
  <footer class="home-footer-shortcuts" aria-label="Site footer shortcuts">
    <div class="grid-list grid-list-meta">
      {{ range $entries }}
        {{ partial "grid-title-cell.html" (dict
          "ctx" $ctx
          "href" .href
          "title" .title
          "icon" (.icon | default "file")
          "iconText" .iconText
          "target" .target
          "rel" .rel) }}
      {{ end }}
    </div>
  </footer>
{{ end }}
