{{ $href := .href }}
{{ $text := .text | default "" }}
{{ $textClass := .textClass | default "" }}
{{ if $href }}
<a href="{{ $href }}"{{ with .class }} class="{{ . }}"{{ end }}{{ with .title }} title="{{ . }}"{{ end }}{{ with .label }} aria-label="{{ . }}"{{ end }}{{ with .target }} target="{{ . }}"{{ end }}{{ with .rel }} rel="{{ . }}"{{ end }}>{{ if $textClass }}<span class="{{ $textClass }}">{{ if .safeHTML }}{{ $text | safeHTML }}{{ else }}{{ $text }}{{ end }}</span>{{ else }}{{ if .safeHTML }}{{ $text | safeHTML }}{{ else }}{{ $text }}{{ end }}{{ end }}</a>
{{ end }}
