{{ $isOfflinePage := eq (.Scratch.Get "is_offline_page") true }}
{{ $descriptors := partial "page-resource-descriptors.html" . }}
{{ $emitted := dict }}
{{ range $descriptor := $descriptors }}
    {{ $sourcePage := index $descriptor "page" }}
    {{ if index $descriptor "page_css" }}
        {{ $pageCssSpecs := partial "page-resource-specs.html" (dict "source" $sourcePage "key" "page_css") }}
        {{ range $spec := $pageCssSpecs }}
            {{ $pageCss := partial "page-resource-resolve.html" (dict "source" $sourcePage "spec" $spec "asset_dir" "css" "kind" "page_css") }}
            {{ $emitKey := printf "css-resource:%s" $pageCss.RelPermalink }}
            {{ if isset $emitted $emitKey }}{{ continue }}{{ end }}
            {{ $emitted = merge $emitted (dict $emitKey true) }}
            {{ if $isOfflinePage }}
                {{ $pageCss = partial "css-process.html" (dict "resource" $pageCss "fingerprint" false) }}
<style>{{ $pageCss.Content | safeCSS }}</style>
            {{ else }}
                {{ $pageCss = partial "css-process.html" (dict "resource" $pageCss "fingerprint" true) }}
<link rel="stylesheet" href="{{ $pageCss.RelPermalink }}">
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if index $descriptor "page_css_inline" }}
        {{ range $inlineCss := partial "page-resource-specs.html" (dict "source" $sourcePage "key" "page_css_inline") }}
            {{ $emitKey := printf "css-inline:%x" (md5 $inlineCss) }}
            {{ if isset $emitted $emitKey }}{{ continue }}{{ end }}
            {{ $emitted = merge $emitted (dict $emitKey true) }}
<style>{{ $inlineCss | safeCSS }}</style>
        {{ end }}
    {{ end }}
    {{ with index $descriptor "css_resources" }}
        {{ range $resource := . }}
            {{ $pageCss := $resource }}
            {{ $emitKey := printf "css-resource:%s" $pageCss.RelPermalink }}
            {{ if isset $emitted $emitKey }}{{ continue }}{{ end }}
            {{ $emitted = merge $emitted (dict $emitKey true) }}
            {{ if $isOfflinePage }}
                {{ $pageCss = partial "css-process.html" (dict "resource" $pageCss "fingerprint" false) }}
<style>{{ $pageCss.Content | safeCSS }}</style>
            {{ else }}
                {{ $pageCss = partial "css-process.html" (dict "resource" $pageCss "fingerprint" true) }}
<link rel="stylesheet" href="{{ $pageCss.RelPermalink }}">
            {{ end }}
        {{ end }}
    {{ end }}
    {{ with index $descriptor "css_inline_values" }}
        {{ range $inlineCss := . }}
            {{ $emitKey := printf "css-inline:%x" (md5 $inlineCss) }}
            {{ if isset $emitted $emitKey }}{{ continue }}{{ end }}
            {{ $emitted = merge $emitted (dict $emitKey true) }}
<style>{{ $inlineCss | safeCSS }}</style>
        {{ end }}
    {{ end }}
{{ end }}
