{{ $ctx := . }}
{{ if reflect.IsMap . }}{{ with .ctx }}{{ $ctx = . }}{{ end }}{{ end }}
{{ $alternativeOutputNames := slice }}
{{ range $ctx.AlternativeOutputFormats }}{{ $alternativeOutputNames = $alternativeOutputNames | append .Name }}{{ end }}
{{ $currentOutputName := "" }}
{{ range $ctx.OutputFormats }}
{{ if not (in $alternativeOutputNames .Name) }}{{ $currentOutputName = .Name }}{{ end }}
{{ end }}
{{ $primaryOutputName := "" }}
{{ with index $ctx.OutputFormats 0 }}{{ $primaryOutputName = .Name }}{{ end }}
{{ return dict
    "currentOutputName" $currentOutputName
    "primaryOutputName" $primaryOutputName
}}
