{{ $ctx := . }}
{{ if reflect.IsMap . }}{{ with index . "ctx" }}{{ $ctx = . }}{{ end }}{{ end }}
{{ $descriptors := slice (dict "page" $ctx "page_css" true "page_css_inline" true "page_js" true "page_js_inline" true) }}
{{ $descriptorMap := $ctx.Scratch.Get "page_resource_descriptors" | default dict }}
{{ with $ctx.Scratch.Get "page_resource_descriptor_order" }}
    {{ range . }}
        {{ $key := printf "%v" . }}
        {{ with index $descriptorMap $key }}{{ $descriptors = $descriptors | append . }}{{ end }}
    {{ end }}
{{ end }}
{{ return $descriptors }}
