{{ $ctx := . }}
{{ with .ctx }}{{ $ctx = . }}{{ end }}
{{ $alternativeOutputNames := slice }}
{{ range $ctx.AlternativeOutputFormats }}{{ $alternativeOutputNames = $alternativeOutputNames | append .Name }}{{ end }}
{{ $currentOutputName := "" }}
{{ range $ctx.OutputFormats }}
{{ if not (in $alternativeOutputNames .Name) }}{{ $currentOutputName = .Name }}{{ end }}
{{ end }}
{{ $primaryOutputName := "" }}
{{ with index $ctx.OutputFormats 0 }}{{ $primaryOutputName = .Name }}{{ end }}
{{ $isLanguageHome := and $ctx.IsHome (eq $currentOutputName $primaryOutputName) }}
{{ $allGridOutputNames := slice "all" }}
{{ $isResourcesSection := and (eq $currentOutputName "html") (eq $ctx.Kind "section") (eq $ctx.Section "resources") }}
{{ $isCanonicalGrid := and (eq $currentOutputName "html") (or $ctx.IsHome (eq $ctx.Kind "section") (and (or (eq $ctx.Kind "taxonomy") (eq $ctx.Kind "term")) (or (eq $ctx.Data.Plural "tags") (eq $ctx.Data.Plural "udc")))) }}
{{ $needsGridResources := $isResourcesSection }}
{{ $needsGrid := or (in $allGridOutputNames $currentOutputName) $needsGridResources $isCanonicalGrid }}
{{ $needsGridAll := eq $currentOutputName "all" }}
{{ $isHomeGrid := and $ctx.IsHome $needsGrid }}
{{ $defaultVariant := "page-crumb" }}
{{ if $isLanguageHome }}
{{ $defaultVariant = "home" }}
{{ else if $needsGridAll }}
{{ $defaultVariant = "all" }}
{{ else if $needsGridResources }}
{{ $defaultVariant = "resources" }}
{{ else if $isHomeGrid }}
{{ $defaultVariant = "home-list" }}
{{ else if $needsGrid }}
{{ $defaultVariant = "list" }}
{{ end }}
{{ return dict
    "currentOutputName" $currentOutputName
    "primaryOutputName" $primaryOutputName
    "isLanguageHome" $isLanguageHome
    "isHomeGrid" $isHomeGrid
    "needsGrid" $needsGrid
    "needsGridAll" $needsGridAll
    "needsGridResources" $needsGridResources
    "defaultVariant" $defaultVariant
}}
