{{ $isOfflinePage := eq (.Scratch.Get "is_offline_page") true }}
{{ $descriptors := partial "page-resource-descriptors.html" . }}
{{ $emitted := dict }}
{{ range $descriptor := $descriptors }}
    {{ $sourcePage := index $descriptor "page" }}
    {{ if index $descriptor "page_js" }}
        {{ $pageJsSpecs := partial "page-resource-specs.html" (dict "source" $sourcePage "key" "page_js") }}
        {{ range $spec := $pageJsSpecs }}
            {{ $pageJs := partial "page-resource-resolve.html" (dict "source" $sourcePage "spec" $spec "asset_dir" "js" "kind" "page_js") }}
            {{ $emitKey := printf "js-resource:%s:%s:%s" (printf "%v" ($pageJs.ResourceType | default "")) (printf "%v" ($pageJs.Name | default "")) (md5 $pageJs.Content) }}
            {{ if isset $emitted $emitKey }}{{ continue }}{{ end }}
            {{ $emitted = merge $emitted (dict $emitKey true) }}
            {{ if $isOfflinePage }}
                {{ $pageJs = partial "js-process.html" (dict "resource" $pageJs "fingerprint" false) }}
<script>{{ $pageJs.Content | safeJS }}</script>
            {{ else }}
                {{ $pageJs = partial "js-process.html" (dict "resource" $pageJs "fingerprint" true) }}
<script src="{{ $pageJs.RelPermalink }}"></script>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if index $descriptor "page_js_inline" }}
        {{ range $inlineJs := partial "page-resource-specs.html" (dict "source" $sourcePage "key" "page_js_inline") }}
            {{ $emitKey := printf "js-inline:%x" (md5 $inlineJs) }}
            {{ if isset $emitted $emitKey }}{{ continue }}{{ end }}
            {{ $emitted = merge $emitted (dict $emitKey true) }}
<script>{{ $inlineJs | safeJS }}</script>
        {{ end }}
    {{ end }}
    {{ with index $descriptor "js_resources" }}
        {{ range $resource := . }}
            {{ $pageJs := $resource }}
            {{ $emitKey := printf "js-resource:%s:%s:%s" (printf "%v" ($pageJs.ResourceType | default "")) (printf "%v" ($pageJs.Name | default "")) (md5 $pageJs.Content) }}
            {{ if isset $emitted $emitKey }}{{ continue }}{{ end }}
            {{ $emitted = merge $emitted (dict $emitKey true) }}
            {{ if $isOfflinePage }}
                {{ $pageJs = partial "js-process.html" (dict "resource" $pageJs "fingerprint" false) }}
<script>{{ $pageJs.Content | safeJS }}</script>
            {{ else }}
                {{ $pageJs = partial "js-process.html" (dict "resource" $pageJs "fingerprint" true) }}
<script src="{{ $pageJs.RelPermalink }}"></script>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ with index $descriptor "js_inline_values" }}
        {{ range $inlineJs := . }}
            {{ $emitKey := printf "js-inline:%x" (md5 $inlineJs) }}
            {{ if isset $emitted $emitKey }}{{ continue }}{{ end }}
            {{ $emitted = merge $emitted (dict $emitKey true) }}
<script>{{ $inlineJs | safeJS }}</script>
        {{ end }}
    {{ end }}
{{ end }}
