{{- $rawValue := lower (printf "%v" . | replaceRE "^\\s+|\\s+$" "") -}}
{{- $raw := $rawValue -}}
{{- $globalGate := false -}}
{{- if gt (len (findRE "_g$" $raw)) 0 -}}
  {{- $globalGate = true -}}
  {{- $raw = replaceRE "_g$" "" $raw -}}
{{- end -}}
{{- $result := dict "kind" "invalid" "transport" "invalid" "global_gate" false "value" $rawValue -}}
{{- if or (eq $rawValue "") (eq $rawValue "off") (eq $rawValue "<nil>") -}}
  {{- $result = dict "kind" "" "transport" "" "global_gate" false "value" $rawValue -}}
{{- else -}}
  {{- $match := findRE "^([a-z]+)_([smx])([fr])$" $raw -}}
  {{- if gt (len $match) 0 -}}
    {{- $parts := split $raw "_" -}}
    {{- if eq (len $parts) 2 -}}
      {{- $transportCode := index $parts 0 -}}
      {{- $modeCode := index $parts 1 -}}
      {{- $transport := "" -}}
      {{- if eq $transportCode "spec" -}}
        {{- $transport = "speculationrules" -}}
      {{- else if eq $transportCode "link" -}}
        {{- $transport = "link" -}}
      {{- else if eq $transportCode "sw" -}}
        {{- $transport = "sw" -}}
      {{- end -}}
      {{- $eagernessCode := substr $modeCode 0 1 -}}
      {{- $kindCode := substr $modeCode 1 1 -}}
      {{- $eagerness := "" -}}
      {{- if eq $eagernessCode "s" -}}
        {{- $eagerness = "conservative" -}}
      {{- else if eq $eagernessCode "m" -}}
        {{- $eagerness = "moderate" -}}
      {{- else if eq $eagernessCode "x" -}}
        {{- $eagerness = "eager" -}}
      {{- end -}}
      {{- $kind := cond (eq $kindCode "r") "prerender" "prefetch" -}}
      {{- if and $transport $eagerness (not (and (in (slice "link" "sw") $transport) (eq $kind "prerender"))) -}}
        {{- $result = dict "kind" $kind "eagerness" $eagerness "transport" $transport "global_gate" $globalGate "value" $rawValue -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $result -}}
