{{- $prefetchConfig := .prefetch_config | default (site.Params.link_prefetch | default dict) -}}
{{- $prefetchLabels := .prefetch_labels | default (slice "menu" "nav" "sort_siblings" "descendants" "post") -}}
{{- $rawEnvConfigMap := index $prefetchConfig "env" | default dict -}}
{{- $normalizedEnvConfigMap := dict -}}
{{- range $rawEnvKey, $envConfig := $rawEnvConfigMap -}}
  {{- $envKey := upper (printf "%v" $rawEnvKey) -}}
  {{- if eq (len (findRE "^[TF]{3}$" $envKey)) 0 -}}
    {{- errorf "Build failed: params.link_prefetch.env only supports three-flag T/F environment keys (for example TTT, FTT, FFF); got %q." $rawEnvKey -}}
  {{- end -}}
  {{- $normalizedEnvConfigMap = merge $normalizedEnvConfigMap (dict $envKey ($envConfig | default dict)) -}}
{{- end -}}
{{- $resolvedEnvConfigMap := dict -}}
{{- range $envKey, $_ := $normalizedEnvConfigMap -}}
  {{- $resolvedEnvConfigMap = merge $resolvedEnvConfigMap (dict $envKey (partial "prefetch-env-config-resolve.html" (dict
    "env_key" $envKey
    "env_config_map" $normalizedEnvConfigMap
    "prefetch_labels" $prefetchLabels
    "stack" (slice)
  ))) -}}
{{- end -}}
{{- return $resolvedEnvConfigMap -}}
