{{ $mode := .mode }}
{{ $nameLabel := i18n "products_col_name" }}
{{ $priceLabel := i18n "products_col_price" }}
{{ $valueLabel := i18n "products_col_value" }}
{{ $config := dict
  "productsbynameasc" (dict
    "sortField" "sort_name"
    "sortOrder" "asc"
    "controls" (dict
      "name" "productsbyname"
      "nameText" (printf `%s&nbsp;<b>↓</b>` $nameLabel)
      "price" "productsbyprice"
      "priceText" (printf `%s&nbsp;↨` $priceLabel)
      "value" "productsbyvalue"
      "valueText" (printf `%s&nbsp;↨` $valueLabel)))
  "productsbyname" (dict
    "sortField" "sort_name"
    "sortOrder" "desc"
    "controls" (dict
      "name" "productsbynameasc"
      "nameText" (printf `%s&nbsp;<b>↑</b>` $nameLabel)
      "price" "productsbyprice"
      "priceText" (printf `%s&nbsp;↨` $priceLabel)
      "value" "productsbyvalue"
      "valueText" (printf `%s&nbsp;↨` $valueLabel)))
  "productsbyprice" (dict
    "sortField" "sort_price"
    "sortOrder" "desc"
    "controls" (dict
      "name" "productsbyname"
      "nameText" (printf `%s&nbsp;↨` $nameLabel)
      "price" "productsbypriceasc"
      "priceText" (printf `%s&nbsp;<b>↑</b>` $priceLabel)
      "value" "productsbyvalue"
      "valueText" (printf `%s&nbsp;↨` $valueLabel)))
  "productsbypriceasc" (dict
    "sortField" "sort_price"
    "sortOrder" "asc"
    "controls" (dict
      "name" "productsbyname"
      "nameText" (printf `%s&nbsp;↨` $nameLabel)
      "price" "productsbyprice"
      "priceText" (printf `%s&nbsp;<b>↓</b>` $priceLabel)
      "value" "productsbyvalue"
      "valueText" (printf `%s&nbsp;↨` $valueLabel)))
  "productsbyvalue" (dict
    "sortField" "sort_value"
    "sortOrder" "desc"
    "controls" (dict
      "name" "productsbyname"
      "nameText" (printf `%s&nbsp;↨` $nameLabel)
      "price" "productsbyprice"
      "priceText" (printf `%s&nbsp;↨` $priceLabel)
      "value" "productsbyvalueasc"
      "valueText" (printf `%s&nbsp;<b>↑</b>` $valueLabel)))
  "productsbyvalueasc" (dict
    "sortField" "sort_value"
    "sortOrder" "asc"
    "controls" (dict
      "name" "productsbyname"
      "nameText" (printf `%s&nbsp;↨` $nameLabel)
      "price" "productsbyprice"
      "priceText" (printf `%s&nbsp;↨` $priceLabel)
      "value" "productsbyvalue"
      "valueText" (printf `%s&nbsp;<b>↓</b>` $valueLabel)))
}}
{{ $cfg := index $config $mode }}
{{ if not $cfg }}{{ $cfg = index $config "productsbynameasc" }}{{ end }}
{{ return $cfg }}
