{{ $mode := .mode }}
{{ $nameLabel := i18n "resources_col_name" }}
{{ $priceLabel := i18n "resources_col_price" }}
{{ $valueLabel := i18n "resources_col_value" }}
{{ $config := dict
  "resourcesbynameasc" (dict
    "sortField" "sort_name"
    "sortOrder" "asc"
    "controls" (dict
      "name" "resourcesbyname"
      "nameText" (printf `%s&nbsp;<b>↓</b>` $nameLabel)
      "price" "resourcesbyprice"
      "priceText" (printf `%s&nbsp;↨` $priceLabel)
      "value" "resourcesbyvalue"
      "valueText" (printf `%s&nbsp;↨` $valueLabel)))
  "resourcesbyname" (dict
    "sortField" "sort_name"
    "sortOrder" "desc"
    "controls" (dict
      "name" "resourcesbynameasc"
      "nameText" (printf `%s&nbsp;<b>↑</b>` $nameLabel)
      "price" "resourcesbyprice"
      "priceText" (printf `%s&nbsp;↨` $priceLabel)
      "value" "resourcesbyvalue"
      "valueText" (printf `%s&nbsp;↨` $valueLabel)))
  "resourcesbyprice" (dict
    "sortField" "sort_price"
    "sortOrder" "desc"
    "controls" (dict
      "name" "resourcesbyname"
      "nameText" (printf `%s&nbsp;↨` $nameLabel)
      "price" "resourcesbypriceasc"
      "priceText" (printf `%s&nbsp;<b>↑</b>` $priceLabel)
      "value" "resourcesbyvalue"
      "valueText" (printf `%s&nbsp;↨` $valueLabel)))
  "resourcesbypriceasc" (dict
    "sortField" "sort_price"
    "sortOrder" "asc"
    "controls" (dict
      "name" "resourcesbyname"
      "nameText" (printf `%s&nbsp;↨` $nameLabel)
      "price" "resourcesbyprice"
      "priceText" (printf `%s&nbsp;<b>↓</b>` $priceLabel)
      "value" "resourcesbyvalue"
      "valueText" (printf `%s&nbsp;↨` $valueLabel)))
  "resourcesbyvalue" (dict
    "sortField" "sort_value"
    "sortOrder" "desc"
    "controls" (dict
      "name" "resourcesbyname"
      "nameText" (printf `%s&nbsp;↨` $nameLabel)
      "price" "resourcesbyprice"
      "priceText" (printf `%s&nbsp;↨` $priceLabel)
      "value" "resourcesbyvalueasc"
      "valueText" (printf `%s&nbsp;<b>↑</b>` $valueLabel)))
  "resourcesbyvalueasc" (dict
    "sortField" "sort_value"
    "sortOrder" "asc"
    "controls" (dict
      "name" "resourcesbyname"
      "nameText" (printf `%s&nbsp;↨` $nameLabel)
      "price" "resourcesbyprice"
      "priceText" (printf `%s&nbsp;↨` $priceLabel)
      "value" "resourcesbyvalue"
      "valueText" (printf `%s&nbsp;<b>↓</b>` $valueLabel)))
}}
{{ $cfg := index $config $mode }}
{{ if not $cfg }}{{ $cfg = index $config "resourcesbynameasc" }}{{ end }}
{{ return $cfg }}
