{{/* 根据 term 值和当前排序状态生成 tags 的 canonical URL。 */}}
{{- $ctx := .ctx -}}
{{- $mode := .mode | default "bydate" -}}
{{- $v := printf "%v" .value -}}
{{- $plural := printf "%v" (.plural | default "") -}}
{{- if eq $plural "" -}}{{- $plural = printf "%v" ($ctx.Data.Plural | default "tags") -}}{{- end -}}
{{- $vNorm := partial "tags-normalize-term.html" $v -}}
{{- $slug := cond (eq $vNorm "untagged") "untagged" (urlize $v) -}}
{{- $href := printf "%s%s/" (printf "/%s/" $plural | relLangURL) $slug -}}
{{- return (partial "sort-url.html" (dict "href" $href "mode" $mode)) -}}


