{{ $ctx := .ctx }}
{{ if not $ctx }}{{ return }}{{ end }}
{{ $descriptor := .descriptor | default dict }}
{{ if eq (len $descriptor) 0 }}{{ return }}{{ end }}
{{ $dedupeKey := printf "%v" (.key | default "") }}
{{ if eq $dedupeKey "" }}
    {{ with index $descriptor "page" }}
        {{ with .File }}{{ $dedupeKey = printf "page:%s" .Path }}{{ end }}
    {{ end }}
{{ end }}
{{ if eq $dedupeKey "" }}
    {{ $dedupeKey = printf "descriptor:%x" (md5 ($descriptor | jsonify)) }}
{{ end }}
{{ $descriptorMap := $ctx.Scratch.Get "page_resource_descriptors" | default dict }}
{{ if not (isset $descriptorMap $dedupeKey) }}
    {{ $order := $ctx.Scratch.Get "page_resource_descriptor_order" | default (slice) }}
    {{ $ctx.Scratch.Set "page_resource_descriptor_order" ($order | append $dedupeKey) }}
{{ end }}
{{ $ctx.Scratch.Set "page_resource_descriptors" (merge $descriptorMap (dict $dedupeKey $descriptor)) }}
