{{- $ctx := . -}}
{{- $translated := dict $ctx.Language.Lang $ctx.RelPermalink -}}
{{- range $ctx.AllTranslations -}}
  {{- $translated = merge $translated (dict .Language.Lang .RelPermalink) -}}
{{- end -}}
{{- $options := slice -}}
{{- range sort $ctx.Sites "Language.Weight" -}}
  {{- $code := .Language.Lang -}}
  {{- $options = $options | append (dict "code" $code
    "name" (.Language.LanguageName | default $code)
    "href" (index $translated $code | default .Home.RelPermalink)
    "translated" (isset $translated $code)) -}}
{{- end -}}
{{- return (dict "language" $ctx.Language.Lang "options" $options
  "missing" (i18n "no_trans_msg") "suggestion" (i18n "lang_suggest_msg")
  "returnMissing" (i18n "language_return_missing")) -}}
