{{- $slotFlags := .Scratch.Get "slot_flags" | default dict -}}
{{- $contentHTML := printf "%s" .Content -}}
{{- $content := trim $contentHTML " \r\n\t" -}}
{{- partial "article/assert-content-contract.html" . -}}
<article class="article">
  <div class="prose">
    <h1 id="{{ .Title | anchorize }}">{{ .Title }}</h1>
    {{- if ne $content "" -}}
    {{- $contentHTML | safeHTML -}}
    {{- end -}}
  </div>
</article>
{{- if and .IsPage (eq .Section "d") -}}{{- partial "article/schema.html" . -}}{{- end -}}
{{- with index $slotFlags "breadcrumb" -}}{{- partial "breadcrumb/schema.html" (dict "ctx" $) -}}{{- end -}}
