{{- $desc := "" -}}
{{- if .Params.description -}}
  {{- $desc = .Params.description -}}
{{- else if .Summary -}}
  {{- $desc = (.Summary | plainify | truncate 160) -}}
{{- else -}}
  {{- $desc = site.Params.description -}}
{{- end -}}
{{- $author := or site.Params.author "ipzu" -}}
{{- $published := .PublishDate -}}
{{- if le $published.Unix 0 -}}
  {{- $published = .Date -}}
{{- end -}}
{{- $modified := .Lastmod -}}
{{- if le $modified.Unix 0 -}}
  {{- $modified = $published -}}
{{- end -}}
{{- $payload := dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" .Title
  "description" $desc
  "author" (dict "@type" "Person" "name" $author)
  "inLanguage" .Language.Lang
  "mainEntityOfPage" .Permalink
-}}
{{- if gt $published.Unix 0 -}}
  {{- $payload = merge $payload (dict "datePublished" ($published.Format "2006-01-02T15:04:05Z07:00")) -}}
{{- end -}}
{{- if gt $modified.Unix 0 -}}
  {{- $payload = merge $payload (dict "dateModified" ($modified.Format "2006-01-02T15:04:05Z07:00")) -}}
{{- end -}}
<script type="application/ld+json">{{ $payload | jsonify | safeJS }}</script>



