{{- $desc := partial "seo-description.html" . -}}
{{- $author := or site.Params.author "ipzu" -}}
{{- $published := .PublishDate -}}
{{- if le $published.Unix 0 -}}
  {{- $published = .Date -}}
{{- end -}}
{{- $modified := .Lastmod -}}
{{- if le $modified.Unix 0 -}}
  {{- $modified = $published -}}
{{- end -}}
{{- $shareImage := partial "share-image/resolve.html" . -}}
{{- $imageURL := index $shareImage "url" | default "" -}}
{{- $payload := dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" .Title
  "description" $desc
  "author" (dict "@type" "Person" "name" $author)
  "inLanguage" .Language.Lang
  "mainEntityOfPage" .Permalink
-}}
{{- with $imageURL -}}
  {{- $payload = merge $payload (dict "image" .) -}}
{{- end -}}
{{- if gt $published.Unix 0 -}}
  {{- $payload = merge $payload (dict "datePublished" ($published.Format "2006-01-02T15:04:05Z07:00")) -}}
{{- end -}}
{{- if gt $modified.Unix 0 -}}
  {{- $payload = merge $payload (dict "dateModified" ($modified.Format "2006-01-02T15:04:05Z07:00")) -}}
{{- end -}}
<script type="application/ld+json">{{ $payload | jsonify | safeJS }}</script>



